
.heading p{
    text-align: center;
    margin-bottom: 0px;
   
   
}


.heading h1{
   
    text-align: center;
    text-shadow: 2px 2px 4px white;
}
.heading p{
    font-size: 10px;


}
body{background-color: #00ff7f;
}
div{
    margin-top: 20px;
}
.abc{
   background-color: #34D882;
   box-shadow: 2px 2px 4px greenyellow;
    margin-left: 150px;
    margin-right: 150px;
   
}
.abc h3{
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
 text-align: center;
 margin-bottom: 0px;
 padding-top: 15px;
 }
 .abc p{
   font-size: 10px;
   font-style: b;
   padding-top: 0px;
padding: 5px;}
.abc p>p{
    margin: 0px;
    padding: 0px;
}
.a10{
    padding: 0;
    margin: 0px;
}
.a9{
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0px;
}

